body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    margin: 0;
}

.container {
    text-align: center;
}

.kentang {
    width: 200px;
    height: auto;
}
